h1{
    color: rgb(255, 238, 0);
    letter-spacing: 50px;
    word-spacing: 20px;
}

p{
    text-align: center;
    text-indent: 20px;
    font-family: VT323, serif;
}

h3{
    text-decoration: dotted;
}

h2{
    text-decoration: underline;
}

h4 {
    text-decoration: overline;
}

.test{
    color: #c75858;

}

#qwerty{
    color: darkblue;
    font-style: italic;
}