.blog-header {
    padding: 50px;
}

.blog-title {
    display: flex;
    justify-content: center;
    font-family: Tiny5, sans-serif;
}

.blog-subtitle {
    display: flex;
    justify-content: center;
    font-family: Bytesized, sans-serif;
    font-size: 20px;

}

.blog-nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog-nav a {
  text-decoration: none;
  padding: 50px;
  font-family: Bytesized, sans-serif;
}


.blog-nav a:hover {
    background-color: black;
}

.post-meta {
    padding: 50px;
    display: flex;
    justify-content: center;
    font-family: Bytesized, sans-serif;
}
