body{
    background-color: darkgreen;
}

h2 {
    color: crimson;
    font-style: italic;
}

h2{
    margin: 100px;
}

/* div {
    height: 150px;
    width: 100px;
    color: rgb(0, 16, 105);
    padding: 78px, 89px;
    margin: 10px, 20px, 56, 5px;
} */

div{
    height: 300px;
    border-color: 15px solid aqua;
    width: 300px;
    padding: 500px;
    margin: 500px;
}

p{
    color: rgba(189, 78, 56, 0.5)
}